<div>
  <%@genres.each do |genre|%>
    <ul class="list-group all-streamers-list">
      <li class="list-group-item">
        <%=link_to genre.name, genre_admin_path(genre) %>
        <button type="button" class="btn btn-danger streamer-delete-btn">
          <%= link_to "削除", genre_path(genre), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
        </button>
      </li>
    </ul>
  <%end%>

  <%= render partial: "shared/back_to_menu_btn" %>
</div>