<ul class="list-group root-admin-menu">
  <li class="list-group-item">
    <%= link_to "配信者登録フォーム", new_streamer_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "配信者一覧", all_streamers_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "ログアウト", logout_path %>
  </li>
</ul>
