// Place all the styles related to the root_admin_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.root-admin-menu {
  margin-top: 2rem;
  &__title {
    margin-top: 2rem;
  }
}

.back-to-menu-btn {
  margin-top: 2rem;
  background-color: azure;
  padding: .3rem;
  border-radius: 20px;

  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: blue;
  }
}